/* CSS declarations go here */
// If you want to override materialize sass variables you can uncomment the following:
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700';
@import 'vendor/slick-theme';
@import 'vendor/slick';
// import main scss file
@import "vendor/materialize";

$primary-color: color("white", "lighten-2");

.header-text {
  text-align: center;
  margin-bottom: 0;
}

.header-sub {
  text-align: center;
  font-style: italic;
  margin-top: 0;
}

nav {
  background: black;
  height: 30px;
  line-height: 30px;
}

nav ul a:hover {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(0,0,0,1);
}

.centerize {
 text-align: center;
}


.righterize {
 text-align: right;
}

.product-grid {
  // width: 100%;
  margin: 0 auto;
}

.product-image-element {
  float: left;
  width: 33.3%;
  height: 33.3%;
}

#cart-list {
  float: right;
  li {
    display: inline;
    padding: 0 15px 0 25px;
    float: left;
  }
  input {
    height: 1.2rem;
  }
}

