/* CSS declarations go here */
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700';
/* line 1, /Users/jenglish/code/My_Projects/Brittany/OliveRiley/src/stylesheet/base.scss */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

/* line 5, /Users/jenglish/code/My_Projects/Brittany/OliveRiley/src/stylesheet/base.scss */
body {
  margin: 0;
  font: 16px/1 sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

/* line 11, /Users/jenglish/code/My_Projects/Brittany/OliveRiley/src/stylesheet/base.scss */
h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
  margin: 0;
  padding: 0; }

/* line 23, /Users/jenglish/code/My_Projects/Brittany/OliveRiley/src/stylesheet/base.scss */
main,
li {
  display: block; }

/* line 27, /Users/jenglish/code/My_Projects/Brittany/OliveRiley/src/stylesheet/base.scss */
h1,
h2,
h3,
h4 {
  font-size: inherit; }

/* line 33, /Users/jenglish/code/My_Projects/Brittany/OliveRiley/src/stylesheet/base.scss */
strong {
  font-weight: bold; }

/* line 36, /Users/jenglish/code/My_Projects/Brittany/OliveRiley/src/stylesheet/base.scss */
a,
button {
  color: inherit;
  transition: .3s; }

/* line 41, /Users/jenglish/code/My_Projects/Brittany/OliveRiley/src/stylesheet/base.scss */
a {
  text-decoration: none; }

/* line 44, /Users/jenglish/code/My_Projects/Brittany/OliveRiley/src/stylesheet/base.scss */
button {
  overflow: visible;
  border: 0;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer; }

/* line 53, /Users/jenglish/code/My_Projects/Brittany/OliveRiley/src/stylesheet/base.scss */
::-moz-focus-inner {
  padding: 0;
  border: 0; }

/* line 57, /Users/jenglish/code/My_Projects/Brittany/OliveRiley/src/stylesheet/base.scss */
:focus {
  outline: 0; }

/* line 60, /Users/jenglish/code/My_Projects/Brittany/OliveRiley/src/stylesheet/base.scss */
img {
  max-width: 100%;
  height: auto;
  border: 0; }

/* line 14, /Users/jenglish/code/My_Projects/Brittany/OliveRiley/src/stylesheet/main.scss */
.wrap {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto; }
  /* line 12, /Users/jenglish/code/My_Projects/Brittany/OliveRiley/node_modules/susy/sass/susy/output/support/_clearfix.scss */
  .wrap:after {
    content: " ";
    display: block;
    clear: both; }

/* line 18, /Users/jenglish/code/My_Projects/Brittany/OliveRiley/src/stylesheet/main.scss */
body {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif; }

/* line 22, /Users/jenglish/code/My_Projects/Brittany/OliveRiley/src/stylesheet/main.scss */
h1 {
  font-size: 2em; }

/* line 25, /Users/jenglish/code/My_Projects/Brittany/OliveRiley/src/stylesheet/main.scss */
h2 {
  font-size: 1.5em; }

/* line 28, /Users/jenglish/code/My_Projects/Brittany/OliveRiley/src/stylesheet/main.scss */
h3 {
  font-size: 1.3em; }

/* line 31, /Users/jenglish/code/My_Projects/Brittany/OliveRiley/src/stylesheet/main.scss */
h4 {
  font-size: 1em; }

/* line 34, /Users/jenglish/code/My_Projects/Brittany/OliveRiley/src/stylesheet/main.scss */
h5 {
  font-size: 0.8em; }

/* line 37, /Users/jenglish/code/My_Projects/Brittany/OliveRiley/src/stylesheet/main.scss */
h6 {
  font-size: 0.7em; }

/* line 43, /Users/jenglish/code/My_Projects/Brittany/OliveRiley/src/stylesheet/main.scss */
.header-text > div:nth-child(1) {
  width: 98.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  text-align: center; }

/* line 47, /Users/jenglish/code/My_Projects/Brittany/OliveRiley/src/stylesheet/main.scss */
.header-text > div:nth-child(2) {
  width: 98.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  text-align: center; }

/* line 54, /Users/jenglish/code/My_Projects/Brittany/OliveRiley/src/stylesheet/main.scss */
.menu-bar {
  line-height: 30px; }
  /* line 56, /Users/jenglish/code/My_Projects/Brittany/OliveRiley/src/stylesheet/main.scss */
  .menu-bar > ul li {
    float: left;
    margin-right: 20px;
    text-align: center; }

/* line 66, /Users/jenglish/code/My_Projects/Brittany/OliveRiley/src/stylesheet/main.scss */
.product-image-element {
  display: table;
  height: 360px; }
  /* line 69, /Users/jenglish/code/My_Projects/Brittany/OliveRiley/src/stylesheet/main.scss */
  .product-image-element li {
    vertical-align: bottom; }
